*{
    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
h1{
    font-size: 2.2em;
}
h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

h1,h2,h3{
    margin-bottom: 10px;
}

body{
    background-image: url(../img/fondo.avif);
    background-repeat: repeat;
    background-attachment:fixed;
}
.botonera{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-weight: 300;
}
nav{
    background-color:rgba(255, 102, 0, 0.9);
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler-icon {
    color: rgb(6, 98, 99);
  }
    nav img{
        width: 90px;
    }
    nav ul{
        list-style: none;
        display: flex;
    }
        nav ul li{
            margin-right: 0em;
        }

        nav ul li a .botonera{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 1.6em;
            font-weight: 300   
         }
h1,
h2,
h3,
form label{
    color: rgb(58, 57, 63);
    font-size: 2rem;
}

h1,h2,h3 {
    margin-bottom: 1rem;
}

main{
    padding: 2em 3em;
}

p{
    color:rgb(0, 0, 0);
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2.0rem;
}

header img{
   width: 100%;
   height: 10em;
}

footer{
    background-color: rgb(233, 129, 85);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer svg{
    width: 30px;
    height: 30px;
    fill:  rgb(222, 205, 205);
    margin-right: 10px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}
.bg-grey{
    background-color: rgba(159, 100, 53, 0.854);
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.box-top{
    padding: 0.4rem 0 ;
    text-align: center;
    background-color: rgb(250, 228, 228);
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}
.presentacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .presentacion figure{
        width: 30%;
        border: solid rgb(252, 100, 6) 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
        .presentacion figure img{
            display: flex;
            margin: 10px;
        }
        .presentacion figure figcaption{
            color: rgb(36, 34, 35);
            font-size: 1.7em;
        }
        .presentacion figure p{
            font-size: 1.2em;
            line-height: 1.5em;
            margin-bottom: 15px;
        }
        .presentacion figure button{
            border: none;
            padding: 2px 30px;
            background-color: rgb(223, 112, 20);
            display: flex ;
            flex-direction: column;
            align-items: center;                        
            border-radius: 3px;
            color: rgb(255, 253, 253);
            text-align: center;
            margin-bottom: 20px;
            width: 100%;
}

.filters{
    padding: 0 18px 22px 28px;
}

    .filters a{
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        text-decoration: none;
        margin-bottom: 4px;
        text-transform: lowercase;
    }

        .filters a:hover{
            color:rgb(246, 148, 1);
        }

    .filters span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 1.1em;
    }

    .filters select{
        color: rgb(37, 30, 34);
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 1em;
    }

    .filters li{
        padding-left: 10px;
        list-style: none;
    }

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions button{
    margin-left: 10px;
    background-color: rgb(255, 141, 20);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 2px;
}

.actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(243, 245, 245);
}

.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 80px repeat(3, 300px);
    gap: 5px;
    grid-template-areas: 
    "actions actions actions" 
    "filters track1 track1" 
    "filters track2 track4"
    "filters track2 track3";
}

    .tienda .actions{
        padding: 0 50px;
        grid-area: actions;
    }

    .tienda .filters{
       grid-area: filters;
    }

    .tienda .track1{
       grid-area: track1;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       padding: 0 80px;
       border: solid rgb(252, 100, 6) 1px;
    }

    .tienda .track1 p{
        width: 60%;
        margin-left: 50px;
    }

    .tienda .track2{
        grid-area: track2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        border: solid rgb(252, 100, 6) 1px;
    }

    .tienda .track3{
        grid-area: track3;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgb(252, 100, 6) 1px;
    }

    .tienda .track4{
        grid-area: track4;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgb(252, 100, 6) 1px;
    }

    .tienda section{
        border-radius: 10px;
    }

@media (width < 1024px){
    .releases figure{
        width: 48%;
    }
}

@media (width < 768px){
    nav{
        flex-direction: column;
    }
    .releases figure{
        width: 100%;
        justify-content: space-between;
        gap: 5px;
    }
    footer{
        flex-direction: column;
    }
        footer div:nth-child(2){
            margin: 10px 0;
        }
    
    .tienda{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "actions" 
        "filters"
        "track1"
        "track2"
        "track3"
        "track4";
    }
        .tienda .actions{
            justify-content: flex-start;
        }
        .tienda .actions input{
            width:260px;
        }
        .tienda .filters span,
        .tienda .filters label,
        .tienda .filters input[type="checkbox"],
        .tienda .filters ul{
            display: none;
        } 
        .tienda .filters select{
            width: 100%;
            background-color: rgb(243, 245, 245);
            padding: 6px;
            border-radius: 3px;
            margin-top: 20px;
        }
        .tienda .track1,
        .tienda .track2{
            flex-direction: column;
            padding: 10px;
        }
        .tienda .track1 p{
            width: auto;
            margin-left: 0;
        }
}