*{
    font-family: $mainFont;
    box-sizing: border-box;
} 
h3{
    text-align: center;
}
.box-top{
    padding: 4px 0;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}
.mapita{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.error{
    width: 100%;
}
.botonerror{
    background-color:rgb(143, 143, 143);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
p{
    font-weight: $textLight;
    font-size: $textMd;
    line-height: 2rem;
    color: rgb(44, 44, 44);
}
header{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}
.header-image {
    width: 100%;
    height: auto;
    display: block;
}
 footer{
    background-color: rgb(63, 48, 48);
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 6em;
    margin-top: 4px;
    svg{
       width: 20px;
       height: 20px;
       fill:  rgb(206, 206, 206);
       margin-right: 10px;
       margin-bottom: 5px;
    }
    a{
       text-decoration: none;
    }
    p{
        font-size: 0.5em;
        color: $white;
        margin-bottom: 5px;
     }    
}
.bg-grey{
    background-color: $mainColor;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
} 
.custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  
  .custom-card .card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .custom-card .card-text {
    color: #666;
  }
  
  .custom-card .btn {
    background-color: $mainColor;
    color: #fff;
  }
  
  .custom-card .btn:hover {
    background-color: #37130d;
  }

  

