*{
    font-family: $mainFont;
    box-sizing: border-box;
} 
h1{
    color:$mainColor;
    font-size: $textLg; 
}
h2{
    font-size:$textLg;
}

h3{
    font-size: $textSm;
    text-align: center;
}

h1,h2,h3{
    margin-bottom: 10px;
}
.box-top{
    padding: 4px 0;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}
p{
    font-weight: $textLight;
    font-size: $textMd;
    line-height: 2rem;
    color: black;
}
h1,
h2,
form label{
    color: $secondaryColor;
    font-size: $textLg;
}
header img{
    width: 100%;
    height: 10em;
 }
 footer{
    background-color: rgb(63, 48, 48);
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 6em;
    margin-top: 4px;
    svg{
       width: 20px;
       height: 20px;
       fill:  rgb(206, 206, 206);
       margin-right: 10px;
       margin-bottom: 5px;
    }
    a{
       text-decoration: none;
    }
    p{
        font-size: 0.5em;
        color: $white;
        margin-bottom: 5px;
     }    
}
.bg-grey{
    background-color: $mainColor;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
} 
.custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  
  .custom-card .card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .custom-card .card-text {
    color: #666;
  }
  
  .custom-card .btn {
    background-color: #ff0000;
    color: #fff;
  }
  
  .custom-card .btn:hover {
    background-color: #37130d;
  }
  

