nav{
    background-color: $mainColor ;
    
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler-icon {
    color: rgb(9, 10, 10);
  }
    nav img{
        width: 90px;
    }
    nav ul{
        list-style: none;
        display: flex;
    }
        nav ul li{
            margin-right: 0em;
        }

        nav ul li a .botonera{
            text-decoration: none;
            color: rgb(255, 255, 255) ;
            font-size: 1.8em;
            font-weight: 300   
         }
         