$mainColor:rgb(239, 7, 19);
$secondaryColor:rgb(46, 46, 46);
$keyColor:rgb(0, 0, 0);
$white:rgb(244, 230, 230);

$mainFont:'Open Sans', sans-serif;
$secondaryFont: verdana, sans-serif;

$textSm:1em;
$textXSm: 0.5em;
$textMd:1.8em;
$textLg:2.2em;
$textXl:3.8em;


$textBold:600;
$textLight:200;
$textRegular:400;
